:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-image: url(./assets/22cfde6c6415e1f061e49e0983059782.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  display: flex;
}
input{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  height: 18px;
  color: #a93945;
}

input::placeholder{
  color: #FFA500;
  font-weight: bolder;
}

button{
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  color: white;
  background-color: #FFA500;
  font-weight: bolder;
  transition:  .6s ease-in-out;
}

button:hover{
  color: #a93945;
  background-color: #fff;
  border: 1px solid #a93945;
}


li{
  display: flex;
  height: 30px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 6px;
  list-style: none;
  cursor: pointer;
}

li:hover{
opacity: 0.8;
}

svg:hover{
  fill: red;
}


h1{
  margin-top: 60px;
  letter-spacing: 10px;
  font-size: 3rem;
  color: #FFA500;
}


section{
  display: flex;
  flex-direction: column;
  gap: 30px;
}